img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    box-shadow: 23cm;
    image-rendering: crisp-edges;
}
.paragraph{                 /*class*/
    text-align: center;
    color: blue;
}
#paragraph{                 /*id*/
    text-align: end;
    color: aquamarine;
}
article{
    
    background-color: aqua;
}

#A{
    background-color: rgb(193, 147, 147);
}