header{
    text-align: center;
    border: solid black;
    font-size: xx-large;
    background-color: rgb(46, 259, 186)
    
}

.start{
    background-color: rgb(46, 235, 184);
    border: solid;
}
h1
{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img{
    border-radius: 120%;
    width: 200px;
    height: 200px;
    padding-left: 42%;
    padding-right: 42%;
}

h4{
    padding: 1px;
    text-align: center;
    color: rgb(207, 18, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul{
    padding-left: 560px;
    color:rgb(207, 18, 18);
}



.qualification
{
    text-align: center;
    text-overflow: initial;
    align-items: center;
    font-size:x-large;
    color:black

}
table
{
    text-align: center;
    border-width: 1px;
    align-items: center;
    padding-left: 25%;
    padding-right: 15%;
}

td,th{
    text-align: center;
    border-width: 1px;
    padding-left: 2cm;
    padding-right: 2cm;
    border: solid black;

}

footer {
    text-align: center;
    color: #3012f1;
    border: solid black;
    background-color: rgb(46, 259, 186);

 }



.aboutme
{
    text-align: center;
}
.content{
    text-align: justify;

}