/* Login Page Style */

body {
    /* padding-left: 17%;
    padding-right: 17%;     */
    padding-left: 34%;
    padding-right: 34%;
    background-color: rgb(243, 245, 247);

}

#login_facebook {
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    font-weight: bolder;
    color: rgba(3, 100, 255, 0.991);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login_para {
    text-align: center;
    font-weight: lighter;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    text-align: center;
    font-size: large;
    border: solid rgba(194, 192, 190, 0.183);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.301);
}

#login_input {
    border: solid rgba(194, 192, 190, 0.183);
    width: 350px;
    height: 50px;
    text-align: left;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#Log_in_button {
    border: solid rgba(46, 95, 242, 0.998);
    width: 350px;
    height: 50px;
    padding-top: 2px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(46, 95, 242, 0.998);
    ;
    font-size: x-large;
    color: aliceblue;
    font-weight: bolder;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Log_in_button:hover {
    background-color: rgba(40, 99, 256, 0.844);
    color: rgb(14, 6, 6);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: aliceblue;
    text-decoration: none;
}

#forget_passward {
    color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

hr {
    size: 2;
    padding-left: 50px;
    padding-right: 50px;
    width: 40%;
    background-color: green;
}

#new_account {
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(38, 184, 54);
    font-size: large;
    color: aliceblue;
    font-weight: bolder;
    border: solid rgba(38, 184, 54, 0.888);
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#new_account:hover {
    background-color: rgba(40, 186, 61, 0.844);
    color: rgb(14, 6, 6);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#login_last_para {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 20px;
}

#footer {
    text-align: center;
    font-size: small;
}

/* ------------------------------------------------------------------------------------------------ */

/* Registration page style */

#Reg_body {
    /* padding-left: 18%;
    padding-right: 18%; */
    padding-left: 34%;
    padding-right: 34%;
    background-color: rgb(243, 245, 247);

}

#logo_facebook {
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    font-weight: bolder;
    color: rgba(3, 100, 255, 0.991);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registration {
    text-align: left;
    font-size: large;
    border: solid rgba(194, 192, 190, 0.183);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3%;
    border-radius: 3%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.301);
}

#ITS,
#dob,
#G {
    color: rgba(0, 0, 0, 0.589);
}

#registration_input {
    border: solid rgba(194, 192, 190, 0.183);
    width: 350px;
    height: 38px;
    text-align: left;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#date {
    border: solid rgba(194, 192, 190, 0.183);
    width: 350px;
    height: 38px;
    text-align: left;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.Name {
    padding-left: 20px;
    padding-right: 20px;
}

#name {
    border: solid rgba(194, 192, 190, 0.183);
    width: 150px;
    height: 38px;
    text-align: left;
    border-radius: 8px;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.Gender {
    padding-left: 20px;
    padding-right: 20px;
}

#gender {
    border: solid rgba(194, 192, 190, 0.183);
    width: 100px;
    height: 38px;
    text-align: left;
    border-radius: 8px;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 2.5px;
}

#gender:hover {
    box-shadow: 0 4px 8px  rgba(0,0,0,0.24);
  }

#gender:active { 
    background-color:blue;  
}

#paragraph {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.589);

}

a {
    color: aliceblue;
    text-decoration: none;
}


#Sign_Up {
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(38, 184, 54);
    font-size: large;
    color: aliceblue;
    font-weight: bolder;
    border: solid rgba(38, 184, 54, 0.888);
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Sign_Up:hover {
    background-color: rgba(40, 199, 56, 0.844);
    color: rgb(14, 6, 6);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Sign_up {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}

/* ------------------------------------------------------------------------------------------------ */

/* Home page */


.base {
    padding-top: 230px;
    
}

#base {
    text-align: center;
    font-size: 50px;
    width: 450px;
    font-weight: bolder;
    color: rgba(3, 100, 255, 0.991);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#base:hover {
    background-color: rgba(40, 99, 256, 0.844);
    color: rgb(10, 6, 244);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* ------------------------------------------------------------------------------------------------ */

/* forget page */
.forget{
    /* padding-left: 7%;
    padding-right: 7%;     */
    padding-left: 28%;
    padding-right: 28%;
    padding: auto;
    background-color: rgb(243, 245, 247);
}
#top_forget{
    border: solid rgba(194, 192, 190, 0.183);

}

#forget_facebook {
    text-align: left;
    padding-top: 15px;
    font-size: 35px;
    font-weight: bolder;
    color: rgba(3, 100, 255, 0.991);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forget_box{

    border: solid rgba(194, 192, 190, 0.183);;
    border-radius: 20px;
    padding-bottom: 20px;
}

#forget_input {
    border: solid rgba(194, 192, 190, 0.183);
    width: 500px;
    height: 40px;
    margin-left: 20px;
    text-align: left;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#cancel {
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 150px;
    border-radius: 8px;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(38, 184, 54);
    border: solid rgba(38, 184, 54);
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cancel:hover {
    background-color: rgba(40, 186, 61, 0.844);
    color: rgb(14, 6, 6);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


#search {
    border: solid rgba(46, 95, 242, 0.998);
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 20px;
    border-radius: 7px;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(46, 95, 242, 0.998);
    color: aliceblue;
    font-weight: bolder;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search:hover {
    background-color: rgba(40, 99, 256, 0.844);
    color: rgb(14, 6, 6);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

hr {
    size: 2;
    width: 61%;
    background-color: green;
}